body {
    background: url('assets\imgs\abstract-antique-backdrop-background-129731.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }